<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration page</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<!--<form th:action="@{/registration}" th:object="${userDto}" method="post">
    <div class="container center-block">

        <div th:if="${registrationError}">
            <span th:text="${registrationError}"></span>
        </div>

        <input type="text" th:field="*{username}" placeholder="Username" />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>

        <input type="text" th:field="*{email}" placeholder="Email" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Mail Error</div>

        <input type="password" th:field="*{password}" placeholder="Password" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>

        <button class="btn btn-success" type="submit">Register</button>

    </div>
</form>
<a th:href="@{/login}">Back</a>-->

<div class="container">
    <h2 class="text-center">Register</h2>
    <form th:action="@{/registration}" th:object="${userDto}" method="post">

        <div th:if="${registrationError}">
            <span th:text="${registrationError}"></span>
        </div>

        <div class="form-group row">
            <label for="inputUsername1" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-5">
                <input type="text" th:field="*{username}" class="form-control" id="inputUsername1" placeholder="Username">
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail1" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-5">
                <input type="email" th:field="*{email}" class="form-control" id="inputEmail1" placeholder="Email">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Mail Error</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword1" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
                <input type="password" th:field="*{password}" class="form-control" id="inputPassword1" placeholder="Password">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <a th:href="@{/login}" class="btn btn-secondary" role="button">Back to login page</a>
            </div>
        </div>

    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
