<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Please Log In</title>
</head>
<body>
<h1>Please Log In</h1>

<div th:if="${error != null}" class="alert alert-danger" th:utext="${error}">
    error
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label>
            Username: <input type="text" name="username" placeholder="Username"/>
        </label>
    </div>
    <div>
        <label>
            Password: <input type="password" name="password" placeholder="Password"/>
        </label>
    </div>
    <input type="submit" value="Log in"/>
</form>

<a th:href="@{/registration}">Registration</a>

</body>
</html>