<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
Registration
<form th:action="@{/registration}" th:object="${user}" method="post">

    <div th:if="${registrationError}">
        <span th:text="${registrationError}"></span>
    </div>

    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" placeholder="Username" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>Mail:</td>
            <td><input type="text" th:field="*{mail}" placeholder="Mail" /></td>
            <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Mail Error</td>
        </tr>

        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}" placeholder="Password" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>

        <tr>
            <td><button type="submit">Sign Up</button></td>
        </tr>
    </table>

</form>
<a th:href="@{/login}">Back</a>
</body>
</html>
