<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div>
  <form name="logoutForm" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
</div>
<div th:switch="${users}">
  <h2 th:case="null">No users found!</h2>
  <div th:case="*">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Mail</th>
        <th>Registration date</th>
        <th>Last login date</th>
        <th>Blocked</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.mail}"></td>
        <td th:text="${user.registrationDate}"></td>
        <td th:text="${user.lastLoginDate}"></td>
        <td th:text="${user.blocked}"></td>
        <td><a th:href="@{user-block/{id}(id=${user.id})}">Block</a></td>
        <td><a th:href="@{user-unblock/{id}(id=${user.id})}">Unblock</a></td>
        <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>